<header>
  <div class="share">
    <p class="share-p">Free 2-day shipping | 30-day money back guarantee</p>
  </div>
  <div class="header">
    <a class="logo"><img alt="Logo company" /></a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link">Products</a></li>
        <li class="nav-item">
          <a class="nav-link">How it works</a>
        </li>
        <li class="nav-item"><a class="nav-link">Technology</a></li>
        <li class="nav-item">
          <a class="nav-link">eero Secure</a>
        </li>
        <li class="nav-item"><a class="nav-link">Support</a></li>
        <li class="nav-item">
          <a class="nav-link">Find your system</a>
        </li>
      </ul>
    </nav>
    <a class="shop">SHOP</a>
  </div>
</header>
