<section class="help-center-container">
  <h2 class="help-center">The experts are in.</h2>
  <p class="help-center__text">
    Our team is just a (toll-free) phone call, email, or tweet away.
  </p>
  <button class="button help-center__button" type="button">help center</button>
  <ul class="help-center__list">
    <li class="help-center__list--item">
      <svg class="help-center__icon" width="36px" height="36px">
        <use href="/src/images/help-center-icon.svg#icon-hc-1"></use>
      </svg>
      <span class="help-center__list--text">30-day guarantee</span>
    </li>

    <li class="help-center__list--item">
      <svg class="help-center__icon" width="36px" height="36px">
        <use href="/src/images/help-center-icon.svg#icon-hc-2"></use>
      </svg>
      <span class="help-center__list--text">Free support</span>
    </li>

    <li class="help-center__list--item">
      <svg class="help-center__icon" width="36px" height="36px">
        <use href="/src/images/help-center-icon.svg#icon-hc-3"></use>
      </svg>
      <span class="help-center__list--text">Free shipping</span>
    </li>

    <li class="help-center__list--item">
      <svg class="help-center__icon" width="36px" height="36px">
        <use href="/src/images/help-center-icon.svg#icon-hc-4"></use>
      </svg>
      <span class="help-center__list--text">1-year warranty</span>
    </li>
  </ul>
</section>
