<section class="settings">
  <h2 class="settings__title">Find your eero system</h2>
  <img class="settings__img" src="./images/setting_img.png" alt="" />
  <div class="container-sizes">
    <p class="settings__text settings__text--start">I have a</p>
    <button class="btn btn__size" type="button">smaller</button>
    <button class="btn btn__size" type="button">medium</button>
    <button class="btn btn__size" type="button">larger</button>
    <p class="settings__text settings__text--end">home.</p>
  </div>
  <button class="btn__bottom" type="button">Next</button>
</section>
