<section class="shop">
  <h2 class="visually-hidden">Wi-Fi Device</h2>
  <div class="list">
  <ul class="list-item">
    <div class="li-item">
      <li class="item">
        <span>Wi-Fi 6</span>
        <h3>eero Pro 6</h3>
        <p>The fastest eero yet.</p>
        <p>
          Tri-band Wi-Fi 6 system designed for homes with gigabit internet
          connections.
        </p>
        <span> Starting at &#36;229 </span>
        <button type="button">Shop now</button>
      </li>
    </div>
    <div class="list">
      <li class="item">
        <span>Wi-Fi 6</span>
        <h3>eero 6</h3>
        <p>Experience Wi-Fi 6—the new standard for home wifi.</p>
        <p>
          Dual-band Wi-Fi 6 system designed for homes with 500 Mbps internet
          connections.
        </p>
        <span>Starting at &#36;129 </span>
        <button type="button">Shop now</button>
      </li>
    </div>
  </ul>
</div>
  <a href="">Compare All Models</a>
</section>
