.accessibility {
  padding: 117px 0;
  background-color: #161f49;
  width: 1440px;
  height: 800px;
}
.accessibility__title {
  font-family: 'Roboto';
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 44px;
}
.accessibility__text {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}
