.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.shop {
  position: relative;

  background-repeat: no-repeat;
    width: 1500px;
    height: 1179px;
    margin-right: auto;
    margin-left: auto;
  background-image: url(../images/Rectangle.jpg);
}

.list {
  display: flex;
}

.li-item {
  display: block;
}