.advantage {
  margin: 0;
}

.section-title {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;

  text-align: center;

  color: #404040;
}

.advantage-list {
  list-style: none;
}

.advantage-list__item {
  list-style: none;
}

.advantage-list__icon {
  margin: 0;
}

.advantage-list__title {
  margin: 0;
}

.advantage-list__description {
  margin: 0;
}

.advantage-list__link {
  text-decoration: none;
}
