.hero{
    position: relative;
    max-width: 1600px;
        background-image: url(../images/hero-fon.jpg);
        background-repeat: no-repeat;
        width: 1440px;
        height: 600px;
    
        background-position: center;
        margin-left: auto;
        margin-right: auto;
}

